[color]
	branch = auto
    diff = auto
    interactive = auto
    status = auto
[user]
	name = pga
	email = elgato@secured.de
[core]
	autocrlf = input
	safecrlf = true
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	wc = whatchanged -10
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[credential]
	helper = cache --timeout=3600
